@import url('https://fonts.cdnfonts.com/css/eb-garamond-3');
@import url('https://fonts.cdnfonts.com/css/merriweather-2');
@import url('https://fonts.cdnfonts.com/css/libre-baskerville');
@import url('https://fonts.cdnfonts.com/css/crimson-text-2');
@import url('https://fonts.cdnfonts.com/css/roboto');

:root {
    --background: #f6f1ee;
    --font: #1b1b1b;
    --green: #546248;
    --brown: #59503f;
    --yellowish: #f7e8dc;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: #101010;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellowish);
}

@font-face {
    font-family: "Lora";
    src: url("../assets/fonts/lora-regular-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Tenor";
    src: url("../assets/fonts/TenorSans.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima";
    src: url("../assets/fonts/Proxima-Nova-Regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

.user-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

main {
    animation: fadeIn 1s;
}

body {
    background: var(--background);
    color: var(--font);
    margin: 0;
    width: 100%;
    transition: 0.5s background ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--green);
    color: var(--background);
    padding: 20px 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    color: var(--font);
    margin-top: 0;
}

footer a {
    color: var(--background);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

footer .social-icons img {
    width: 24px;
    margin: 0 5px;
}

footer .column {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .legal {
    font-size: 0.8em;
    margin-top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

footer .legal a,
footer .legal p {
    margin: 0 10px;
}

footer .legal p {
    margin-left: 200px;
}

h1 {
    margin-left: 60px;
    margin-bottom: 0;
    margin-top: 40px;
}

h1, a, tr {
    font-family: Tenor, sans-serif;
}

h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

p, label, select {
    font-family: 'Roboto Light', sans-serif;
    font-weight: lighter;
}

a {
    color: var(--green);
    text-decoration: none;
}

table {
    margin: 0 auto;
}

nav {
    background-color: var(--brown);
    padding: 10px;
    text-align: center;
}

.nav-link {
    color: var(--background);
    text-decoration: none;
    font-size: 20px;
    margin: 0 80px;
}

.nav-link:hover {
    opacity: 0.8;
}

.menu {
    font-family: Proxima, sans-serif;
    margin-bottom: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5%;
}

.menu ul li {
    margin-bottom: 10px;
    font-size: 22px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--font);
}

.menu ul li a:hover {
    opacity: 0.8;
}

.listajel {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.line {
    width: calc(100% - 100px);
    margin: 0 50px;
}

#logo {
    height: 75px;
    margin: 15px 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-form {
    display: flex;
}

.search-input {
    width: 400px;
    height: 25px;
    padding: 8px;
    border: 1px solid var(--green);
}

.search-button {
    padding: 0 12px;
    background-color: var(--green);
    color: var(--font);
    border: 1px solid var(--green);
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--green);
    opacity: 0.8;
}

.login-menu {
    position: relative;
}

.login-menu a {
    color: var(--font);
}

.dropbtn {
    font-size: 20px;
    margin-left: 200px;
    text-decoration: none;
    background: none;
    color: var(--font);
    font-family: Tenor, sans-serif;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    opacity: 0.8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    left: 50%;
    width: 80%;
}

.dropdown-content a {
    padding: 5px 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--font);
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.div-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.button-container {
    top: 10px;
    right: 50px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.icon {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
    margin: 0;
    height: 25px;
}

.sidebar {
    width: 25%;
}

.sidebar input[type="submit"] {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

.sidebar .container div {
    float: left;
    line-height: 34px;
}

.sidebar .container label {
    display: block;
    clear: left;
}

.sidebar,
.books-container {
    display: inline-block;
    vertical-align: top;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid var(--green);
    border-radius: 3px;
    outline: none;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--green);
}

#borito {
    width: 120px;
}

#borito-adatlap {
    width: 500px;
    margin: 0;
}

.icon:hover {
    opacity: 0.8;
}

#basket_icon {
    height: 75px;
}

#successMessage, #errorMessage {
    font-family: Proxima, sans-serif;
    margin-bottom: 20px;
}

#errorMessage {
    color: indianred;
}

.container {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.book-form-container {
    width: 75%;
    margin: 0 auto;
    font-family: Proxima, sans-serif;
}

.books-container {
    width: 50%;
    margin-top: 20px;
    margin-left: 100px;
}

.genre-container {
    position: relative;
    top: 10px;
    margin-left: 60px;
    width: 50%;
}

.select-container,
.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 5px;
}

.continueButton {
    font-family: Tenor, sans-serif;
    font-size: 16px;
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--yellowish);
    color: var(--font);
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.basketButton {
    position: absolute;
    right: 400px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .nav-link {
        margin: 0 20px;
    }

    .button-container {
        margin-left: 100px;
        right: 10px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    footer .column,
    footer .social-icons,
    footer .legal {
        width: 30%;
    }

    footer .column:not(:last-child) {
        margin-right: 5%;
    }

    footer .legal {
        width: 100%;
        order: 3;
    }
}

@media screen and (max-width: 480px) {
    .nav-link {
        margin: 0 10px;
    }

    .button-container {
        right: 20px;
    }

    .button-container {
        margin-left: 50px;
        right: 5px;
    }
}