form {
    font-family: Lora, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
}

label {
    font-family: Lora, sans-serif;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="role"],
input[type="submit"],
select {
    font-family: Lora, sans-serif;
    width: 100%;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
}

input[type="submit"] {
    background: var(--yellowish);
    margin-top: 30px;
    color: var(--font);
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    height: 32px;
    width: 150px;
    font-family: Lora, sans-serif;
    font-size: 16px;
    border: 0;
}